@import '../../styles/colors';

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 10px;
  width: 50%;
  &:hover {
    background-color: white;
  }

  &__title {
    font-size: 25px;
    text-align: center;
  }
}

.category {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    text-align: center;
    margin: 15px 0;
    font-size: 40px;
    background-color: $black;
    padding: 5px;
    color: $white;
    border-radius: 10px;
  }
}

.category__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.category__cards {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 720px) {
  .category__title {
    font-size: 20px;
  }

  .category {
    padding: 0 20px;
  }

  .card__title {
    font-size: 12px;
  }
}

