@import "styles.css";

.screen-login {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0 0 24px #5C5696;
}

.screen-login__content {
  z-index: 1;
  position: relative;
  height: 100%;

  .login {
    padding: 156px 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .login__icon {
        color: #7875B5;
      }

      .login__title {
        color: #3c3a59;
        margin-left: 6px;
      }
    }

    .login__field {
      padding: 20px 0 0;
      position: relative;

      .login__icon {
        position: absolute;
        top: 29px;
        color: #7875B5;
      }
    }

    .login__input {
      border: none;
      border-bottom: 2px solid #D1D1D4;
      background: none;
      padding: 10px 10px 10px 24px;
      font-weight: 500;
      transition: .2s;
      width: 300px;
    }

    .login__input:active,
    .login__input:focus,
    .login__input:hover {
      outline: none;
      border-bottom-color: #6A679E;
    }

    .login__visibilityIcon {
      position: absolute;
      top: 29px;
      right: 12px;
      color: #fff;
    }

    .login__submit {
      background: #fff;
      font-size: 14px;
      margin-top: 18px;
      padding: 16px 20px;
      border-radius: 26px;
      border: 1px solid #D4D3E8;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      align-items: center;
      width: 67%;
      color: #4C489D;
      box-shadow: 0 2px 2px #5C5696;
      cursor: pointer;
      transition: .2s;
    }

    .login__submit:not(:disabled):active,
    .login__submit:not(:disabled):focus,
    .login__submit:not(:disabled):hover {
      border-color: #6A679E;
      background-color: #6A679E;
      color: white;
      outline: none;
    }

    .login__submit:disabled {
      cursor: not-allowed;
    }

    .login__submit:disabled:hover {
      color: black;
      background-color: gainsboro;
    }
  }

  .social-login {
    position: absolute;
    height: 120px;
    width: 210px;
    text-align: center;
    bottom: 0;
    right: 0;
    color: #fff;

    .social-login__register {
      color: #FFFFFF;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .screen-login {
    max-width: 280px;
  }

  .login__input {
    max-width: 200px;
  }
  .login__submit {
    font-size: 10px;
  }
}


