@import "styles";
@import "../../../styles/colors";

.screen-register {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  margin: 100px auto 0 auto;
  height: 630px;
  width: 360px;
  box-shadow: 0 0 24px #5C5696;
}

.screen-register__content {
  z-index: 1;
  position: relative;
  height: 100%;

  .register {
    padding: 150px 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .register__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .register__icon {
        color: #7875B5;
      }

      .register__title {
        color: #3c3a59;
      }
    }

    .register__field {
      padding: 20px 0 0 0;
      position: relative;

      .register__icon {
        position: absolute;
        top: 29px;
        color: #7875B5;
      }
    }

    .register__input {
      border: none;
      border-bottom: 2px solid #D1D1D4;
      background: none;
      padding: 10px 10px 10px 24px;
      font-weight: 500;
      width: 300px;
      transition: .2s;
    }

    .register__visibilityIcon {
      position: absolute;
      top: 29px;
      right: 12px;
      color: $white;
    }

    .register__input:active,
    .register__input:focus,
    .register__input:hover {
      outline: none;
      border-bottom-color: #6A679E;
    }

    .register__submit {
      background: $white;
      font-size: 14px;
      margin-top: 18px;
      padding: 16px 20px;
      border-radius: 26px;
      border: 1px solid #D4D3E8;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      color: #4C489D;
      box-shadow: 0 2px 2px #5C5696;
      cursor: pointer;
      transition: .2s;
      align-self: center;
    }

    .register__submit:not(:disabled):active,
    .register__submit:not(:disabled):focus,
    .register__submit:not(:disabled):hover {
      border-color: #6A679E;
      background-color: #6A679E;
      color: $white;
      outline: none;
    }

    .register__submit:disabled {
      cursor: not-allowed;
    }

    .register__submit:disabled:hover {
      color: $black;
      background-color: gainsboro;
    }
  }

  .social-register {
    position: absolute;
    height: 150px;
    width: 190px;
    text-align: center;
    bottom: -20px;
    right: 0;
    color: $white;

    .social-register__register {
      display: inline-block;
      color: $white;
      font-weight: bold;
      margin-bottom: 10px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .screen-register {
    width: 280px;
  }

  .register__input {
    max-width: 200px;
  }

  .register__submit {
    font-size: 10px;
  }
}

