@import '../../styles/colors';

$headerSize: 16px;
$headerBorderRadius: 10px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  height: 60px;
  width: 100%;
  background: repeating-linear-gradient(45deg, #C7C5F4, #C7C5F4 10px, #776BCC 10px, #776BCC 20px);
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: $white;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  font-weight: bold;
  background: url("../../../assets/logo.png") no-repeat center left;
  padding-left: 50px;
  background-size: 40px 40px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.navigation {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    overflow: hidden;
    gap: 10px;

  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__manual {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    border-radius: $headerBorderRadius;
    background-color: $black;
    padding: 5px;
    color: $white;

    &:hover {
      transform: scale(110%);
    }
  }

  &__link {
    color: $white;
    font-size: $headerSize;
    font-weight: 700;
  }

  &__greeting {
    border-radius: $headerBorderRadius;
    padding: 5px;
    color: $black;
    font-size: $headerSize;
    font-weight: 700;
    background-color: $white;
  }

  &__logout-item {
    border-radius: $headerBorderRadius;
    padding: 5px;
    color: $white;
    font-size: $headerSize;
    font-weight: 700;
    background-color: $black;
    border: none;

    &:hover {
      transform: scale(110%);
    }
  }

  &__manual {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }
}

.hamburger {
  display: none;
  z-index: 6;
}


@media (max-width: 950px) {

  .hamburger {
    display: flex;
    position: fixed;
    width: 40px;
    height: 25px;
    top: 17px;
    right: 0;
    z-index: 6;
  }

  .navigation__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }


  .navigation__list {
    display: flex;
    width: 40vw;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $black;
    position: fixed;
    top: 60px;
    z-index: 1;

    &__item {
      padding: 5px;
    }
  }

  .open {
    display: none;
  }

  .reverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .navigation__greeting {
    width: 260px;
    text-align: center;
  }

}